/*
MY COLOR PALETTE
Color 1 - #893333
Color 2 - #BB7878
Color 3 - #000000
Color 4 - #FFFFFF
*/

@media {
    

.container-fluid {  
}
   
.col {
   font-family: 'Raleway', sans-serif;
}

#topper {
    font-size: 80px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-align: center;
    color: white;
    background-image: url(vera-photo.JPG);
    background-position: center bottom;
    padding: 150px 50px 150px 50px;
}

#topper2 {
text-align:center;
    }
    
#work {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    border: 3px solid #893333;;
    padding: 16px 8px 16px 8px;
    margin: 20px 25px 15px 25px;
    font-size: 20px;
    color: white;
    background-color: #893333;
}

#work:hover {
    background-color: #BB7878;
    font-weight: bold;
    }
    
#contact {
    text-align: center; 
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    border: 3px solid #893333;;
    padding: 16px 8px 16px 8px;
    margin: 5px 25px 15px 25px;
    font-size: 15px;
    color: white;
    background-color: #893333;
}
    
#contact:hover {
    background-color: #BB7878;
    font-weight: bold; 
    }

h2{ 
    text-align: center;
    color: white;
    background-color: #BB7878;
    padding: 14px 40px;
}

img {
    border: 3px solid white;
    border-radius: 50%;
    width: 0px;
}

.nav-link {
    color: #893333;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
    }
    
.nav-link:hover {
    color: #BB7878;
    }
    
#experience {
    font-size: 30px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: #893333;
    color: white;
    text-align: center;
    padding: 10px 24px;
}

#news { 
    background-color: #BB7878;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
    padding: 5px 16px;
}

#project { 
    background-color: #BB7878;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
    padding: 5px 16px;
}

#workshop { 
    background-color: #BB7878;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
    padding: 5px 16px;
}


#skills { 
    font-size: 30px;
    background-color: #893333;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
    text-align: justify;
    padding: 10px 24px;
}

#education {
    font-size: 30px;
    background-color: #893333;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
    text-align: center;
    padding: 10px 24px;
}
    
#major {
    padding: 10px 24px;
}
    
#footer {
    background-color: #BB7878;
    font-size: 15px;   
    color: white;
}

}

@media (min-width:576px) {
    
    #topper {
    font-size: 80px;
    text-align: center;
    color: white;
    background-image: url(vera-photo.JPG);
    background-position: center;
    padding: 150px 50px 150px 50px;
}
    
img {
    border: 3px solid white;
    border-radius: 50%;
    width: 150px;
}

#work {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    border: 3px solid #893333;;
    padding: 32px 16px 32px 16px;
    margin: 25px 50px 25px 50px;
    font-size: 20px;
    color: white;
    background-color: #893333;
}

#contact {
    text-align: center; 
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    border: 3px solid #893333;;
    padding: 32px 16px 32px 16px;
    margin: 25px 50px 25px 50px;
    font-size: 15px;
    color: white;
    background-color: #893333;
}
    
@media (min-width:992px) {
    
        #topper {
    font-size: 150px;
    text-align: center;
    color: white;
    background-image: url(vera-photo.JPG);
    background-position: center;
    padding: 150px 50px 150px 50px;
}

img {
    border: 3px solid white;
    border-radius: 50%;
    width: 150px;
}

#work {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    border: 3px solid #893333;;
    padding: 32px 16px 32px 16px;
    margin: 25px 50px 25px 50px;
    font-size: 20px;
    color: white;
    background-color: #893333;
}
    
#contact {
    text-align: center; 
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    border: 3px solid #893333;;
    padding: 32px 16px 32px 16px;
    margin: 25px 50px 25px 50px;
    color: white;
    background-color: #893333;
}
    
}
