/*
MY COLOR PALETTE
Color 1 - #893333
Color 2 - #BB7878
Color 3 - #000000
Color 4 - #FFFFFF
*/
.container-fluid {
    background:;
    font-size: 180px;
    text-align: center;
    color: white;
    background-image: url(vera-photo.JPG);
    background-position: center bottom;
    padding: 150px 100px;
    
}

#topper {
    text-align: center;
}

#content {
    font-size: 30px;
    border-radius: 8px;
    padding: 32px 16px;
}

#work { 
    font-size: 30px;
    border-radius: 8px;
    padding: 32px 16px;
}

#buttons { 
    text-align: center;
    padding: 14px 40px;
}

img {
    border-style: solid;
    border-color: #334139;
    border-radius: 50%;
}

#experience {
    font-size: 30px;
    background-color: #893333;
    color: white;
    text-align: center;
    padding: 10px 24px;
}

#news { 
    background-color: #BB7878;
    color: white;
    padding: 5px 16px;
}

#project { 
    background-color: #BB7878;
    color: white;
    padding: 5px 16px;
}

#workshop { 
    background-color: #BB7878;
    color: white;
    padding: 5px 16px;
}

#skills { 
    font-size: 30px;
    background-color: #893333;
    color: white;
    text-align: center;
    padding: 10px 24px;
}